@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap");

/* Header */

.gamehub_logo {
  width: 75px;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
}

.profile {
  font-size: 35px;
  color: #053eb8;
}

/* Navigation */
.nav_links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.contact_content {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
.contact_li {
  display: inline-flex;
  padding: 0px 20px;
}

li,
a {
  font-family: "Nunito", "sans-serif";
  font-weight: bolder;
  font-size: 18px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #7ab7fc;
}

/* Search Box */

.container .input {
  border: 0;
  outline: none;
  color: #ff4d00;
}

.search_box_wrapper {
  width: 500px;
  margin: 36px auto;
}

.search_box_wrapper .search_box {
  position: relative;
  width: 250px;
  height: 42px;
}

.search_box_wrapper .search_box .input {
  background-color: #6893e9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 16px;
}

.search_box_wrapper .search_box .search_box_button {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  background: #057ae8;
  z-index: 1;
  cursor: pointer;
}

.search_box_wrapper .search_box .search_box_button:hover {
  background: #057ae8;
}

.search_box_wrapper .search_box .search_box_button .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.search_box_wrapper .search_box .input {
  padding-right: 80px;
  border-radius: 50px;
}

.search_box_wrapper .search_box .search_box_button {
  right: 4px;
  top: 5px;
  border-radius: 50%;
}

/* Weekend Sale */

.weekend_sale .weekend_sale_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.weekend_sale {
  background-image: url("../images/jeshoots-com-eCktzGjC-iU-unsplash\ \(1\).jpg");
  min-height: 200px;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  position: relative;
}

.contact_background {
  background-image: url("../images/lumensoft-technologies-WaGMKmJ2F0Y-unsplash\ \(2\).jpg");
  min-height: 200px;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  position: relative;
}

h1 {
  font-family: Nunito;
  font-size: 36px;
  font-weight: bolder;
  padding: 20px;
  color: rgb(255, 255, 255);
  opacity: 1;
}

.contact_h1 {
  font-family: Nunito;
  font-size: 30px;
  font-weight: bolder;
  padding: 20px;
  color: black;
}

.contact_li {
  padding: 20px;
}

h2 {
  font-family: Nunito;
  font-size: 30px;
  font-weight: bolder;
  color: #053eb8;
}

/* Body */

.top {
  display: grid;
  grid-template-columns: 1fr;
  margin: 20px, auto;
  grid-gap: 10px;
  padding: 50px;
}

.top h3 {
  grid-column: -1/1;
  font-family: Nunito;
  font-size: 24px;
  font-weight: bolder;
}

.top img {
  width: 100%;
}

.games {
  display: grid;
  grid-template-columns: 1fr;
  font-family: Roboto;
}

/*footer*/

footer {
  width: 100vw;
  display: block;
  overflow: hidden;
  padding: 70px 0;
  box-sizing: border-box;
  background-color: #030303;
}

.footer_content {
  display: block;
  margin: 0 auto;
  width: 1000px;
  height: 100%;
}

.footer_content .footer_text {
  width: calc(21.6% - 20px);
  margin-right: 10px;
  padding: 10px;
  float: left;
  height: 100%;
}

.footer_content .footer_text:last-child {
  margin-right: 0;
}

.footer_content .footer_text h3 {
  font-family: "Roboto";
  font-size: 18px;
  color: white;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.footer_content .footer_text p {
  font-family: "Roboto";
  font-size: 12px;
  color: white;
  display: block;
  font-weight: 100;
  width: 100%;
  padding-bottom: 5px;
}

@media (min-width: 375px) {
  .top {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .top {
    grid-template-columns: repeat(4, 1fr);
  }
  .top_two {
    grid-template-columns: repeat(5, 1fr);
  }
  .search_box_wrapper .search_box {
    width: 500px;
    height: 42px;
  }
  .gamehub_logo {
    width: 125px;
    height: 100%;
  }
  .profile {
    font-size: 50px;
  }
}

@media (max-width: 375px) {
  footer .footer_content {
    width: 90%;
  }
  .footer_content .footer_text {
    width: 100%;
    margin-bottom: 30px;
  }
}
